<div class="page-header">
  <h3>上传说明书
    <%= link_to '<span class="glyphicon glyphicon-chevron-left"></span> 返回列表'.html_safe, specifications_path, class: 'btn btn-default', role: 'button' %>
  </h3>
</div>

<%= render 'form' %>
