<% action = "#{params[:controller]}" %>
<ul class="nav nav-pills nav-stacked" role="tablist">
  <li role="presentation" <% if action == "users" %> class="active" <% end %>><a href="<%= account_path(@current_user.name) %>">个人主页</a></li>
</ul>
