<% action = "#{params[:controller]}" %>
<ul class="nav nav-pills nav-stacked affix" role="tablist" style='width:170px;'>
  <li role="presentation" <% if action == "users" %> class="active" <% end %>><a href="<%= account_path(@current_user.name) %>">个人主页</a></li>
  <li role="presentation" <% if action == "specifications" %> class="active" <% end %>><a href="<%= specifications_path %>">说明书列表</a></li>
</ul>
